@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/* HTML: <div class="loader"></div> */
.loader {
  display: inline-block;
  width: 10px;
  aspect-ratio: 1;
  border-radius: 50%;
  border: 2px solid;
  border-color: rgba(17, 24, 39, 0) rgb(17, 24, 39);
  animation: l1 1s infinite;
}
@keyframes l1 {to{transform: rotate(.5turn)}}